
* {
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
a{
    text-decoration-line: none;
}
img{
    display: inline-block;
}


:root {
    --color-main: #232742;
    --color-sub-gradient: linear-gradient(93deg, #FF5379 5.53%, #FF6C42 96.6%)
  }

.btn-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.btn-default{
    height: 56px;
    padding: 16px 24px;
    border-radius: 6px;
    background-color: var(--color-main);
}
.btn-default:hover{
    background: var(--color-sub-gradient);
    box-shadow: 0px 10px 37px 0px rgba(255, 96, 95, 0.50);
}

h1{
    color: var(--color-main);
    font-size: 56px;
    font-weight: 700;
    margin: 0;
}

body {
    background-color: var(--color-main);
}
.bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#content {
    padding: 24px 24px 24px 60px;
    width: 928px;
}
#content > #section-text{
    text-align: left;
    margin: 0 69px 0 0;
}
#content > #section-text > p{
    margin: 20px 0 25px 8px;
}
#content > #section-text > ul{
    list-style-image: url(./img/icon-list.svg);
    padding: 0 0 0 26px;
}
#content > #section-text > ul >li{
    line-height: center;
    padding: 6px 0 ;
}
#content > #section-text > #email {
    position:relative;
    margin: 32px 0 0 0;
} 
#content > #section-text > #email > p{
    font-size:12px;
    font-weight: 700;
    margin: 10px 0;
}
#content > #section-text > #email > .err-message{
    display: none;
    position:absolute;
    right: 0;
    top: -10px;
    color: #E7897D;
}
#content > #section-text > #email > input{
    color:#8C8C8C;
    width: calc(100% - 26px*2);
    padding: 16px 24px;
    margin: 0 0 26px 0;
    border-radius: 6px;
    border: solid #8C8C8C 1px;
}
#content > #section-text > #email > input.err-input{
    border-radius: 6px;
    border: 1px solid #E7897D;
    background: #FFE8E6;
}
#content > #section-text > #email > input.err-input::placeholder {
    color: #E7897D;
}
#content > #section-text > #email > input:focus{
    color:#000000;
}
    
#section-img {
    height: 100%;
}


/* 팝업 */
#popup{
    width: 504px;
    padding: 64px;
}

#popup img {
    margin: 0 0 38px 0;
}
#popup p {
    width: 100%;
    line-height: 150%;
    margin: 20px 0 41px 0;
}
#popup span.my-email{
    font-weight: 700;
}

/* 반응형 */
@media screen and (max-width:375px) {
    body {
        background-color: #fff;
       
    }
    .bg{
        display: block;
        background-color: transparent;
    }
    h1{
        font-size: 40px;
    }
    #content{
        background: url("./img/illustration-sign-up-mobile.svg") no-repeat top center;
        width: 100%;
    }
    #content > #section-text{
        text-align: left;
        margin: 300px 24px 40px 24px ;
    }
    #section-img {
        display: none;
    }

    #popup{
        width: 375px;
        padding: 0;
        margin: 24px;
    }
}